.btn{
    border-radius: 3px;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 43px 12px 20px;
    border:none;
    transition: background-color 0.5s;
    display: inline-block;
    outline: none !important;
    text-decoration: none !important;
    font-weight: $regular;
}
