body{
    font-family: 'Gilroy', sans-serif;
}

$light:300;
$regular:400;
$medium:500;
$semi-bold:600;
$bold:700;
$black:900;

/*Gilroy Light*/
@font-face{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: $light;
    src: url("../fonts/Gilroy_Light.otf");
    font-display: swap;
}


