footer{


 //RESPONSIVITA
    
    @media all and (max-width: 1200px) {
    }//end max-width 1200px

    @media all and (max-width: 992px) {
    }//end max-width 992px

    @media all and (max-width: 768px) {
    }//end max-width 768px

}//end footer



