
input[type=checkbox],input[type=radio] {
    width: 0;
    margin: 0;
    opacity: 0;
    
}

select,input{
    height: 50px;
    width: 100%;
    color: #98a0b8;
    font-size: 16px;
    line-height: 16px;
    font-weight: $light;
    padding-left: 27px;
    background-color: #ffffff;
    border-color: #9ea5bc;
    border-radius: 3px;
    border-width: 1px;
    border-style:solid;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    margin-left: 30px;
    &::placeholder{
        color: #98a0b8;
        font-size: 16px;
        line-height: 16px;
    }
}


input[type=checkbox] + label{
    display: inline-block;
    padding-left: 36px;
    background: url(../img/uncheck.png) no-repeat;
    line-height: 24px;
    cursor: pointer;
}

input[type=checkbox]:checked + label{
    background: url(../img/check.png) no-repeat !important;
}

input[type=radio] + label{
    display: inline-block;
    padding-left: 36px;
    background: url(../img/radio-uncheck.png) no-repeat;
    line-height: 24px;
    cursor: pointer;
}

input[type=radio]:checked + label{
    background: url(../img/radio-check.png) no-repeat !important;
}


@mixin appearance($value){
-webkit-appearance: $value;
-moz-appearance: $value;
-o-appearance: $value;
     appearance: $value;
}


select{
@include appearance(none);
overflow: hidden;
background-image: url(../img/icon-select-down.png) !important;
background-repeat: no-repeat;
background-size:15px 9px !important;
background-position: right 14px center !important;  //center, right - 14px
}


@media all and (max-width: 768px) {

}//end max-width 768px