body{
   
}


h1 {
    color: #2d3350;
    font-weight: $bold;
    font-size: 46px;
    line-height: 46px;
    text-transform: uppercase;
}


h2{
    color: #2d3350;
    font-weight: $bold;
    font-size: 46px;
    line-height: 46px;
    text-transform: uppercase;

}

h3{
    color: #2d3350;
    font-weight: $bold;
    font-size: 46px;
    line-height: 46px;
    text-transform: uppercase;
}


 //RESPONSIVITA
    
 @media all and (max-width: 1200px) {
}//end max-width 1200px

@media all and (max-width: 992px) {
}//end max-width 992px

@media all and (max-width: 768px) {
    h1{}
    h2{}
    h3{}
}//end max-width 768px