html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: inherit;
  font-size: 1rem;
  line-height: inherit;
}

p,
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 0;
}

figure {
  margin: 0;
}

body {
  font-family: 'Gilroy', sans-serif;
}

/*Gilroy Light*/
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Gilroy_Light.otf");
  font-display: swap;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.fw-light {
  font-weight: 300;
}

.fw-bold {
  font-weight: 700;
}

.fw-regular {
  font-weight: 400;
}

.fw-semi-bold {
  font-weight: 600;
}

.fr-bold {
  font-weight: 700;
}

.c-white {
  color: #ffffff;
}

.c-black {
  color: #000000;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-100 {
  margin-left: 100px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-100 {
  margin-right: 100px;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-100 {
  padding-left: 100px;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-90 {
  padding-right: 90px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-26 {
  font-size: 26px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}

.fs-40 {
  font-size: 40px;
}

.height-60 {
  height: 60px !important;
}

.height-80 {
  height: 80px;
}

.height-130 {
  height: 130px;
}

.height-700 {
  height: 700px;
}

.height-900 {
  height: 900px;
}

.max-width-500 {
  max-width: 500px;
}

.max-width-400 {
  max-width: 400px;
}

.max-width-550 {
  max-width: 550px;
}

.width-350px {
  width: 350px;
}

@media only screen and (max-width: 768px) {
  .rwd-md-mr-0 {
    margin-right: 0px !important;
  }
  .rwd-md-mr-10 {
    margin-right: 10px !important;
  }
  .rwd-md-mr-20 {
    margin-right: 20px !important;
  }
  .rwd-md-ml-0 {
    margin-left: 0px !important;
  }
  .rwd-md-ml-20 {
    margin-left: 20px !important;
  }
  .rwd-md-mb-0 {
    margin-bottom: 0px !important;
  }
  .rwd-md-mb-10 {
    margin-bottom: 10px !important;
  }
  .rwd-md-mb-20 {
    margin-bottom: 20px !important;
  }
  .rwd-md-mb-30 {
    margin-bottom: 30px !important;
  }
  .rwd-md-mb-40 {
    margin-bottom: 40px !important;
  }
  .rwd-md-mt-0 {
    margin-top: 0px !important;
  }
  .rwd-md-mt-5 {
    margin-top: 5px !important;
  }
  .rwd-md-mt-10 {
    margin-top: 10px !important;
  }
  .rwd-md-mt-20 {
    margin-top: 20px !important;
  }
  .rwd-md-mt-10 {
    margin-top: 10px !important;
  }
  .rwd-md-mt-30 {
    margin-top: 30px !important;
  }
  .rwd-md-width-100pp {
    width: 100%;
  }
  .rwd-md-maxwidth-100pp {
    max-width: 100%;
  }
  .rwd-md-pl-0 {
    padding-left: 0px !important;
  }
  .rwd-md-pl-10 {
    padding-left: 10px !important;
  }
  .rwd-md-pl-15 {
    padding-left: 15px !important;
  }
  .rwd-md-pl-20 {
    padding-left: 20px !important;
  }
  .rwd-md-pl-30 {
    padding-left: 30px !important;
  }
  .rwd-md-pl-40 {
    padding-left: 40px !important;
  }
  .rwd-md-px-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .rwd-md-pr-0 {
    padding-right: 0px !important;
  }
  .rwd-md-pr-10 {
    padding-right: 10px !important;
  }
  .rwd-md-pr-15 {
    padding-right: 15px !important;
  }
  .rwd-md-pr-20 {
    padding-right: 20px !important;
  }
  .rwd-md-pr-30 {
    padding-right: 30px !important;
  }
  .rwd-md-pr-40 {
    padding-right: 40px !important;
  }
  .rwd-md-pb-0 {
    padding-bottom: 0px  !important;
  }
  .rwd-md-pb-10 {
    padding-bottom: 10px  !important;
  }
  .rwd-md-pb-20 {
    padding-bottom: 20px  !important;
  }
  .rwd-md-pb-30 {
    padding-bottom: 30px  !important;
  }
  .rwd-md-pb-40 {
    padding-bottom: 40px  !important;
  }
  .rwd-md-pb-50 {
    padding-bottom: 50px  !important;
  }
  .rwd-md-pb-70 {
    padding-bottom: 70px;
  }
  .rwd-md-pb-80 {
    padding-bottom: 80px;
  }
  .rwd-md-pt-0 {
    padding-top: 0px;
  }
  .rwd-md-pt-10 {
    padding-top: 10px;
  }
  .rwd-md-pt-20 {
    padding-top: 20px !important;
  }
  .rwd-md-pt-30 {
    padding-top: 30px !important;
  }
  .rwd-md-pt-80 {
    padding-top: 80px;
  }
  .rwd-md-pt-120 {
    padding-top: 120px;
  }
  .rwd-md-pt-140 {
    padding-top: 140px;
  }
  .rwd-md-height-auto {
    height: auto;
  }
  .rwd-md-ta-left {
    text-align: left;
  }
}

@media only screen and (max-width: 992px) {
  .rwd-lg-pl-0 {
    padding-left: 0;
  }
  .rwd-lg-pr-0 {
    padding-right: 0;
  }
  .rwd-lg-mt-0 {
    margin-top: 0;
  }
  .rwd-lg-pt-30 {
    padding-top: 30px;
  }
  .rwd-lg-pb-30 {
    padding-bottom: 30px;
  }
  .rwd-lg-pb-20 {
    padding-bottom: 20px;
  }
  .rwd-lg-ta-left {
    text-align: left;
  }
  .rwd-lg-pr-20 {
    padding-right: 20px;
  }
  .rwd-lg-height-auto {
    height: auto;
  }
  .rwd-lg-mr-0 {
    margin-right: 0 !important;
  }
  .rwd-lg-ml-0 {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 1200px) {
  .rwd-xl-d-none {
    display: none;
  }
  .rwd-xl-pt-30 {
    padding-top: 30px !important;
  }
  .rwd-xl-pb-30 {
    padding-bottom: 30px !important;
  }
  .rwd-xl-ta-left {
    text-align: left;
  }
  .rwd-xl-mr-60 {
    margin-right: 60px;
  }
  .rwd-xl-ml-60 {
    margin-left: 60px;
  }
}

.btn {
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;
  padding: 12px 43px 12px 20px;
  border: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  display: inline-block;
  outline: none !important;
  text-decoration: none !important;
  font-weight: 400;
}

h1 {
  color: #2d3350;
  font-weight: 700;
  font-size: 46px;
  line-height: 46px;
  text-transform: uppercase;
}

h2 {
  color: #2d3350;
  font-weight: 700;
  font-size: 46px;
  line-height: 46px;
  text-transform: uppercase;
}

h3 {
  color: #2d3350;
  font-weight: 700;
  font-size: 46px;
  line-height: 46px;
  text-transform: uppercase;
}

input[type=checkbox], input[type=radio] {
  width: 0;
  margin: 0;
  opacity: 0;
}

select, input {
  height: 50px;
  width: 100%;
  color: #98a0b8;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  padding-left: 27px;
  background-color: #ffffff;
  border-color: #9ea5bc;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  margin-left: 30px;
}

select::-webkit-input-placeholder, input::-webkit-input-placeholder {
  color: #98a0b8;
  font-size: 16px;
  line-height: 16px;
}

select:-ms-input-placeholder, input:-ms-input-placeholder {
  color: #98a0b8;
  font-size: 16px;
  line-height: 16px;
}

select::-ms-input-placeholder, input::-ms-input-placeholder {
  color: #98a0b8;
  font-size: 16px;
  line-height: 16px;
}

select::placeholder, input::placeholder {
  color: #98a0b8;
  font-size: 16px;
  line-height: 16px;
}

input[type=checkbox] + label {
  display: inline-block;
  padding-left: 36px;
  background: url(../img/uncheck.png) no-repeat;
  line-height: 24px;
  cursor: pointer;
}

input[type=checkbox]:checked + label {
  background: url(../img/check.png) no-repeat !important;
}

input[type=radio] + label {
  display: inline-block;
  padding-left: 36px;
  background: url(../img/radio-uncheck.png) no-repeat;
  line-height: 24px;
  cursor: pointer;
}

input[type=radio]:checked + label {
  background: url(../img/radio-check.png) no-repeat !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  overflow: hidden;
  background-image: url(../img/icon-select-down.png) !important;
  background-repeat: no-repeat;
  background-size: 15px 9px !important;
  background-position: right 14px center !important;
}
/*# sourceMappingURL=style.css.map */